[core]
	editor = vim
	filemode = true
[user]
    email = 1alekseik1@gmail.com
    name = alekseik1
[help]
	autocorrect = 1
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = true
[difftool]
	prompt = false
[mergetool ""]
	prompt = false
[alias]
	d = difftool
    st = status
    br = branch
    ci = commit
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	make-changelog = log --pretty=format:\"- %s\"
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# Mail.ru creds
[includeIf "gitdir:/Users/a.kozharin/work"]
    path = ~/.gitconfig.mailru
